@import "compass/utilities/links/link-colors";
@import "compass/css3/text-shadow";

@mixin normal-font {
	font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}

@mixin header-font {
	font: 400 60px/1.3 'Bree Serif', Georgia, serif;
	line-height: 0.75em;
}

body {

	background-color: #381304;
	margin: 0;
	padding: 0;
	@include normal-font;
}

#wrapper {
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	
	border: 1px dashed white;
}

/* ==================================================== */

header {
	
	position: relative;

	$coffee-cup-width: 35%; /* define this also in JS! */

	.background {
		width: 100%;
	}

	.title {
		position: static;
		display: block;
		text-align: center;
		@include header-font;
		@include link-colors(white, white, white, white, white);
		text-decoration: none;
		text-shadow: 0 2px 0 black, 0 0 0.2em black;
		
		margin-top: -1em;

		@media screen and (min-width: 321px) {
			position: absolute;
			top: 25%;
			left: 0;
			width: 100% - $coffee-cup-width;
			margin-left: $coffee-cup-width;
			margin-top: 0;
		}

	}

}